*{
    box-sizing: border-box;
    margin: 0;
}

/*header*/

header{
    padding: 1%;
    background-color: #93C6E7;
    margin-bottom: 15px;
}

header div{
    text-align: center;
}

header img{
    width: 200px;
    mix-blend-mode: color-burn;
}

/*formulario*/

body{
    background-color: #567189;
}

.formu{
    margin-top: 5%;
}

form{
    background-color: #A0C3D2;
    width: 360px;
    padding: 1%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}

form h3{
    margin-bottom: 5%;
}

form > input{
    width: 100%;
    margin-bottom: 4%;
    border-radius: 15px;
    border: none;
    padding: 3%;
}

form > div input{
    width: 100px;
    border-radius: 15px;
    border: none;
    padding: 3%;
    cursor: pointer;
    background-color: #d8e8f1;
}

/*tabla*/

#internos th{
    width: 5%;
}

.fa-trash{
    color: #820000;
}

/* estilo de la tabla*/

.dataTables_filter .form-control-sm{
    border-radius: 0.5 rem;
}

.dataTables_filter .form-control{
    background-color: #f9f9f9;
    border: var(--bs-border-width) solid #373b3e;
}

.col-sm-12 th.sorting{
    background-color: #acc1d4;
    text-align: center;
    vertical-align: middle;
}

.col-sm-12 th.sorting_disabled{
    text-align: center;
    vertical-align: middle;
    background-color: #acc1d4;
}

.col-sm-12 td{
    text-align: center;
}
.col-sm-12 td > div{
    text-align: initial;
}

/* estilo para el boton */

.btn-agregar{
    margin-top: 10px;
    padding: 15px;
    background-color: #1CD1B0;
    color: #000000;
    border: none;
    border-radius: 15px;
    width: 20%;
}

.btn-agregar a{
    color: #000000;
    text-decoration: none;
}

main{
    margin-bottom: 20px;
}